<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超级管理员</title>
    <link rel="stylesheet" href="__HOME__/assets/css/amazeui.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/core.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/menu.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/index.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/admin.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/page/typography.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/page/form.css" />
    <link rel="stylesheet" href="__HOME__/assets/css/component.css" />
    <script type="text/javascript" src="__HOME__/assets/js/jquery-2.1.0.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/app.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/blockUI.js"></script>
    <script type="text/javascript" src="__HOME__/assets/js/charts/echarts.min.js"></script>
    <!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>


<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>  -->
<!-- <script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script> /_footer 作为公共模版分离出去 -->
</head>

    <!-- Begin page -->
    <header class="am-topbar am-topbar-fixed-top">

        <div class="am-topbar-left am-hide-sm-only">
            <a href="index.html" class="logo"><span>admin<span></span></span><i class="zmdi zmdi-layers"></i></a> 
        </div>

        <div class="contain">
                <ul class="am-nav am-navbar-nav am-navbar-left">
                    <li style=" float:left;"><h4 class="page-title"></h4></li>

            {volist name="home_menu" id="m"}
                    <li style=" float:left;"><h4 class="page-title"><a  href="{:url($m['url'])}">{$m.title}</a></h4></li>
            {/volist}
                    
                
                </ul>
            <ul class="am-nav am-navbar-nav am-navbar-right">
                <!--<li class="inform" ><i class="am-icon-bell-o" aria-hidden="true"></i></li> -->
                <li class="hidden-xs am-hide-sm-only">
                    <a href="form_basic.html"></a>
                </li>
                <li class="hidden-xs am-hide-sm-only"><a href="">账号设置</a> 
                </li>
                <li class="hidden-xs am-hide-sm-only"><a href="{:url('Cate/logout')}"> 安全退出  </a> 
                </li>
            </ul>
        </div>

    </header>

 <div class="admin">
    <!-- l栏目 -->
         <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <!-- User -->
                <div class="user-box am-hide-sm-only">
                    <div class="user-img">
                        <img src="__HOME__/assets/img/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                        <div class="user-status offline"><i class="am-icon-dot-circle-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <h5><a href="html/form_validate.html"><?php echo session('member_user_auth.username'); ?></a> </h5>
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <i class="am-icon-cog" aria-hidden="true"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="text-custom">
                                <i class="am-icon-cog" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User -->
                <ul class="am-list admin-sidebar-list">
                    <li><a href="index.html"><span class="am-icon-home"></span> 首页</a>
                    </li>
            {volist name="home_menu" id="vo"}
                {if condition="isset($vo['children'])"}
                    {foreach name="$vo['children']" item="v" key="k"}
                    {eq name="$v['module']" value="$controller"}
                    <li class="admin-parent">
                        <a class="am-cf" data-am-collapse="{target: '#collapse-nav<?php echo $k;?>'}"><span class="{$v['icon']}"></span> {$v.title} <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                        <ul class="am-list am-collapse admin-sidebar-sub am-in" id='collapse-nav<?php echo $k;?>'>
                        {if condition="isset($v['children'])"}
                            {foreach name="$v['children']" item="vv"}
                            <li><a href="{:url($vv['url'])}" class="am-cf"><span>{$vv['title']}</span></a>
                            </li>
                            {/foreach}
                         {/if}
                        </ul>
                    </li>
                    {/eq}
                    {/foreach}
                {/if}
            {/volist} 
                </ul>
        </div>
</div>
{block name="main"}{/block}
