BODY {
	MARGIN: 0px; BACKGROUND: #fff; FONT-SIZE: 12px
}
HR {
	COLOR: #104e8b
}
A:link {
	COLOR: #104e8b; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #104e8b; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #843827; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
.news_list {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: left; BORDER-LEFT: 0px; MARGIN: 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.news_list UL {
	TEXT-ALIGN: left; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 10px; FLOAT: left; LIST-STYLE-IMAGE: none
}
.news_list LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.hiden_text {
	FLOAT: left; COLOR: #fff; CLEAR: both
}
.header {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.top {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; BACKGROUND: #fff; HEIGHT: 96px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.logo {
	WIDTH: 220px; BACKGROUND: url(/Templets/Images/ma_left.jpg) no-repeat left 50%; FLOAT: left; HEIGHT: 96px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.top_banner {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 600px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 96px; VERTICAL-ALIGN: middle; PADDING-TOP: 6px
}
.top_right {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 120px; PADDING-RIGHT: 0px; BACKGROUND: url(/Templets/Images/ma_right.jpg) no-repeat right 50%; FLOAT: left; HEIGHT: 96px; PADDING-TOP: 0px
}
.goal {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #104e8b; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.goalad {
	PADDING-LEFT: 10px
}
.banner_line {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; BACKGROUND: #f1f1f1; HEIGHT: 2px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.column_line {
	MARGIN: 0px auto 2px; WIDTH: 100%; BACKGROUND: url(/Templets/Images/column_title.jpg) #104e8b; FLOAT: none; HEIGHT: 30px
}
.column_nav {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 840px; PADDING-RIGHT: 0px; HEIGHT: 30px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.column_nav UL {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 30px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.column_nav LI {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 70px; PADDING-RIGHT: 0px; BACKGROUND: url(/Templets/Images/arrow.gif) no-repeat right 50%; FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; FONT-WEIGHT: normal; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.column_nav A:link {
	COLOR: #fff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.column_nav A:visited {
	COLOR: #fff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.column_nav A:hover {
	DISPLAY: block; BACKGROUND: #f1f1f1; COLOR: #104e8b; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.column_nav A:active {
	COLOR: #104e8b; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.column_nav A {
	TEXT-ALIGN: center; DISPLAY: block; HEIGHT: 30px; VERTICAL-ALIGN: middle
}
.down_top_logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 96px; PADDING-TOP: 0px
}
.down_top_banner {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; WIDTH: 500px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 80px; VERTICAL-ALIGN: bottom; PADDING-TOP: 10px
}
.down_top_banner UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.down_top_banner LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; PADDING-LEFT: 10px; WIDTH: 90px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; FONT-SIZE: 14px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.down_top_banner A:link {
	DISPLAY: block; FONT-SIZE: 14px
}
.down_top_banner A:visited {
	FONT-SIZE: 14px
}
.down_top_banner A:hover {
	DISPLAY: block; BACKGROUND: #104e8b; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.down_top_banner A:active {
	FONT-SIZE: 14px
}
.topli {
	BACKGROUND: url(/Templets/Images/topli.png) no-repeat left 50%; OVERFLOW: hidden
}
.down_nav {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 840px; PADDING-RIGHT: 0px; HEIGHT: 30px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.down_nav UL {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 30px; BORDER-TOP: 0px; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.down_nav LI {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; BACKGROUND: url(/Templets/Images/arrow.gif) no-repeat right 50%; FLOAT: left; COLOR: #ffffff; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; FONT-WEIGHT: normal; LIST-STYLE-IMAGE: none; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.down_nav A:link {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.down_nav A:visited {
	COLOR: #ffffff; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.down_nav A:hover {
	DISPLAY: block; BACKGROUND: #f1f1f1; COLOR: #104e8b; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.down_nav A:active {
	COLOR: #104e8b; FONT-SIZE: 14px; TEXT-DECORATION: underline
}
.down_nav A {
	TEXT-ALIGN: center; DISPLAY: block; HEIGHT: 30px; VERTICAL-ALIGN: middle
}
.search {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 2px; FLOAT: left; MARGIN-LEFT: auto; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; MARGIN-RIGHT: auto; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.search_box {
	BORDER-BOTTOM: #104e8b 1px solid; BORDER-LEFT: #104e8b 1px solid; MARGIN: 0px auto; WIDTH: 958px; BACKGROUND: #9cc0e8; HEIGHT: 40px; BORDER-TOP: #104e8b 1px solid; BORDER-RIGHT: #104e8b 1px solid
}
.search_pic {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 40px; BACKGROUND: url(/Templets/Images/developer_icon.gif) no-repeat center 50%; FLOAT: left; HEIGHT: 40px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.news_search {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 2px; WIDTH: 220px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 40px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.news_search A {
	DISPLAY: block; COLOR: #104e8b; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.search_form {
	WIDTH: 470px; FLOAT: left; FONT-SIZE: 14px
}
.down_search_left {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 52px; WIDTH: 170px; PADDING-RIGHT: 2px; BACKGROUND: url(/Templets/Images/column_l.png) no-repeat left 50%; FLOAT: left; HEIGHT: 40px; FONT-SIZE: 14px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.down_search_left A {
	DISPLAY: block; COLOR: #104e8b; FONT-SIZE: 16px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold
}
.bottom {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; LINE-HEIGHT: 20px; MARGIN: 0px auto; WIDTH: 100%; BACKGROUND: #f7f9fe; FLOAT: left; COLOR: #104e8b; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.bottom A {
	COLOR: #104e8b; FONT-SIZE: 14px
}
.help {
	BORDER-BOTTOM: #fff 1px dotted; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 940px; PADDING-RIGHT: 10px; COLOR: #666666; PADDING-TOP: 10px
}
.contact {
	BORDER-BOTTOM: #ffffff 1px dotted; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 940px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 10px
}
.copyright {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 940px; PADDING-RIGHT: 10px; COLOR: #666666; FONT-SIZE: 12px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 10px
}
.footer {
	BORDER-BOTTOM: #fff 1px dotted; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 940px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.stat {
	DISPLAY: none; COLOR: #fff
}
.police {
	MARGIN: 0px auto; WIDTH: 960px; BACKGROUND: #f7f9fe
}
.police IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}