{extend  name="Public:base" /}
{block name="main"}  
    <!-- sidebar end -->

<body>

     <!-- <script type="text/javascript" src="__HOME__/assets/js/charts/echarts.min.js"></script> -->
        <div class="content-page">
            <div class="content">
                <div class="card-box">
                    <div class="am-g">
                        <div class="am-u-sm-8">
                            <div class="card-box" style="height: 360px;">
                                <h4 class="m-t-0 m-b-5 font-600" style="font-size: 16px;">今日财务</h4>

                                <table style="width:800px; font-size: 13px;">

                                    <tr style="border-bottom: 1px solid #f3f3f3; font-weight:600;height: 50px;">
                                        <td>销售额</td>
                                        <td>订单量</td>
                                        <td>销量</td>
                                        <td>成本</td>
                                        <td>毛利润</td>
                                        <td>毛率</td>
                                    </tr>

                                    <tr style="border-bottom: 1px solid #f3f3f3">
                                        <td><a href="#">753</a>
                                        </td>
                                        <td><a href="#">95</a>
                                        </td>
                                        <td><a href="#">4</a>
                                        </td>
                                        <td><a href="#">95</a>
                                        </td>
                                        <td><a href="#">4</a>
                                        </td>
                                        <td><a href="#">95</a>
                                        </td>
                                    </tr>
                                </table>

                                <!-- col start -->


                                <div id="index-line-11" style="height: 200px;"></div>

                                <!-- col end -->
                            </div>
                        </div>
                        <!-- col end -->
                        <div class="am-u-md-4">
                            <div class="card-box widget-user" style="height: 360px; ">
                                <div>
                                    <h4 class="m-t-0 m-b-5 font-600" style="font-size: 16px;">权限开通（有效日期: 2018-09-27~2018-10-27）</h4>
                                    <div class="m-t-0 m-b-5 font-600"></div>

                                    <div style="padding:20px; margin:20px;">

                                        <br>
                                        <h4 class="m-t-0 m-b-5 font-600" style="padding-left: 15px;"><b>Hi, 13430909089<a href="#" ></a></b></h4> 

                                        <h4 class="m-t-0 m-b-5 font-600" style="padding-left: 15px;">欢迎来到gooo!</h4>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="am-g">
                        <!-- Row start -->


                        <div class="am-u-md-12">
                            <div class="card-box" style="height: 420px;">
                                <h4 class="m-t-0 m-b-30">绑定账号   

								
                    <div class="am-btn-group am-btn-group-xs">
                     <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span><a href="index_mjset.html">添加卖家账号</a></button>
            
                  </div>
              </h4> 
                                <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                    <table class="am-table   am-text-nowrap">
                                        <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>卖家账号昵称</th>
                                                <th>添加日期</th>
                                                <th>账号MWS授权</th>
                                                <th>广告API授权</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>muhchd</td>
                                                <td>2018-5-6</td>
                                                <td>36555315</td>
                                                <td>21444551</td>
                                                <td>
                                                    <div class="am-btn-toolbar">
                                                        <div class="am-btn-group am-btn-group-xs">
                                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span><a href="index_mjset.html">编辑卖家账号</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>muhchd</td>
                                                <td>2018-5-6</td>
                                                <td>36555315</td>
                                                <td>21444551</td>
                                                <td>
                                                    <div class="am-btn-toolbar">
                                                        <div class="am-btn-group am-btn-group-xs">
                                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>编辑卖家账号</button>


                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    来自 <a href="#" target="_blank" title="Adminto">Adminto</a>
                </div>
            </div>
        </div>
        <!-- end right Content here -->
        <!--</div>-->
    </div>
    </div>
</body>
    <script type="text/javascript" src="__HOME__/assets/js/charts/index.js"></script>
    <!-- navbar -->
    <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>

  {/block}