{extend name="Public:base" /}
{block name="main"}
 <body>
  <div class="content-page"> 
   <!-- Start content --> 
   <div class="content"> 
    <div class="card-box"> 
     <ul class="am-nav am-navbar-nav"> 
      <li><h4 class="page-title">绑定账号 <a href="index_mjset.html"><button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>添加卖家账号</button></a></h4></li> 
     </ul> 
     <div class="am-g"> 
      <!-- Row start --> 
      <div class="am-u-md-12"> 
       <div class="card-box" style="height: 420px;"> 
        <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';"> 
         <table class="am-table   am-text-nowrap"> 
          <thead> 
           <tr> 
            <th>编号</th> 
            <th>卖家账号昵称</th> 
            <th>添加日期</th> 
            <th>账号MWS授权</th> 
            <th>广告API授权</th> 
            <th>操作</th> 
           </tr> 
          </thead> 
          <tbody> 
           <tr> 
            <td>1</td> 
            <td>muhchd</td> 
            <td>2018-5-6</td> 
            <td>36555315</td> 
            <td>21444551</td> 
            <td>
             <div class="am-btn-toolbar"> 
              <div class="am-btn-group am-btn-group-xs"> 
               <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span><a href="index_mjset.html">编辑卖家账号</a></button> 
              </div> 
             </div></td> 
           </tr> 
           <tr> 
            <td>1</td> 
            <td>muhchd</td> 
            <td>2018-5-6</td> 
            <td>36555315</td> 
            <td>21444551</td> 
            <td>
             <div class="am-btn-toolbar"> 
              <div class="am-btn-group am-btn-group-xs"> 
               <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>编辑卖家账号</button> 
              </div> 
             </div></td> 
           </tr> 
          </tbody> 
         </table> 
        </div> 
       </div> 
      </div> 
     </div> 来自 
     <a href="#" target="_blank" title="Adminto">Adminto</a> 
    </div> 
   </div> 
  </div> 
  <!-- navbar --> 
  <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
   <!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>  
 </body>
</html>
{/block}