html {
  position: relative;
  min-height: 100%;
}

body {
    animation: 0.8s ease-in-out 0s normal none 1 fadenavtwo;
    transition: color 0.1s ease-in-out 0s;
    max-width: 100%;
    overflow-x: hidden;
    padding-right:0!important;
}

.site-wrapper {
    padding:0;


}

.layoutcontent {
    


    
}





.layoutcontent-inner {
    background-color: #fff;
    position: relative;
    z-index: 3;
    
    
}

.content-wrapper {
    max-width: 91.66666667%;  
    padding:2em 8px;  
}

@media (min-width:768px) {

    .content-wrapper{
        max-width: 80%;
    }

    .showdrilldown .content-wrapper {
        max-width: 100%;

    }

    .main-wrapper::after {
    content: " ";
    overflow: hidden;
    display: block;
    height: 0px;
    visibility: hidden;

    }
}

.form-inline .form-group {
    /*margin-right: -10px;
    padding-right: 20px;*/
}

.password-meter {
    float: none !important;
    padding-top: 10px;
    width: 200px !important;
}

.password-rules {
    font-size: .8em;
}




/* FONTS */
@font-face{
    font-family:Gotham;
    src:url(/assets/fonts/Gotham.woff2) format("woff2"), url(/assets/fonts/Gotham.woff) format("woff"), url(/assets/fonts/Gotham.ttf) format("truetype");
    font-weight:300;
    font-style:normal
}



body {
    color: #0f0105;
    background-color: #fff;
    font-family: Gotham,sans-serif;
    font-feature-settings: "kern","liga","pnum";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
}


h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
    font-family: Gotham,sans-serif;
    font-weight: 300;
    color: #0f0105;
    line-height: 1.375;
    margin: 0 0 0.0;
}

h1 {
   position: relative;
    z-index: 2;
    font-size: 2.5em;
   /* display: inline-block;*/

}

h1::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    margin-top: 0.3em;
    border-bottom: 1px solid rgb(239, 239, 239);
}



@media (min-width:641px) {
    h1 {
        font-size: 3.5em
    }
}

h2 {
    font-size: 2em
}

@media (min-width:641px) {
    h2 {
        font-size: 3em
    }
}
h3 {
    font-size: 1.75em
}
@media (min-width:641px) {
    h3 {
        font-size: 2em
    }
}
h4 {
    font-size: 1.5em
}
@media (min-width:641px) {
    h4 {
        font-size: 1.75em
    }
}
h5 {
    font-size: 1.25em
}
@media (min-width:641px) {
    h5 {
        font-size: 1.5em
    }
}
h6 {
    font-size: 1em
}
@media (min-width:641px) {
    h6 {
        font-size: 1.25em
    }
}
p {
  
    font-size: 1.125em
}
li {
    
    font-size: 1em
}
a {
    color: #dd0031;
    text-decoration: none;
    transition: color .3s ease-in-out
}
a:active, a:focus, a:hover {
    color: #600;
    text-decoration: none;
}
hr {
    border-bottom: 1px solid #0f0105;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 1.75em 0
}

a[href^=tel] {
    color: inherit;
}

a.load-local {
    color: inherit;
    cursor: text;
    text-decoration: none;
}

a.load-local:hover {
    text-decoration: none;
}

.error, .text-danger, .coupon, del, .min-order, .max-order,
.compliance-message, .statecompliancemessage, .inventory-message {
    color:#a94442;
}



/* HEADER */

header {
    width: 100%;
    position: fixed;
    z-index: 4;
   
  
}

.header-inner {
    padding:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: padding 300ms ease 0s;
    transition: background 300ms ease 0s; 
    background-color: rgba(48, 42, 49, 0.85);
}

@media (min-width:768px) {

   .header-inner {
    padding:2em;
    background:transparent;
    }

}

@media (min-width:768px) {

    .fixed .header-inner {
        padding:1em 2em;
        transition: all 0.3s ease;
        background-color: rgba(48, 42, 49, 0.85);

    }

}


.parallax-window {
    height: 24vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (min-width:768px) {

    .parallax-window {
        height: 76vh;
    }
}

.parallax-mirror {
    z-index: 3!important;
}


.parallax-window h1 {
    color:#fff;
    position: relative;
    z-index: 3;
    border:none;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
    text-align: center;
    line-height: 1.1em;
    margin:0;
}

@media (min-width:641px) {
    .parallax-window h1 {
        font-size:4em;
    }
    }

.parallax-window h1::after {
    content: none;
    }



.logo {
    transition: margin 300ms ease 0s;
    margin-top:0;
    position: relative;
    z-index: 1005;
    display:inline-block;
    vertical-align: top;
}

@media (min-width:768px) {
  .logo {  
    margin-top: 0.5em;

    }
}

@media (min-width:768px) {
    .fixed .logo {
    margin-top:0;
    }

}



.logo svg {
    margin: 0.5em 0.75em;
    height: 36px;
    width: auto;
    display: block;
    transition: height 300ms ease 0s;
}

@media (min-width:768px) {  
    .fixed .logo svg {
        height:60px;
    }

}

@media (min-width:768px) {

    .logo svg {
        height: 112px;
    }
}

.logo-dot {
    transition: fill 300ms ease 0s;
    fill: rgb(221, 0, 49);
}

.logo-text {
    transition: fill 300ms ease 0s;
    fill: rgb(255, 255, 255);
}

.custom-cart {
    color: #000;
    position: relative;
    text-align: left;
    width: auto;
}

.custom-cart a, .custom-cart a:visited {
    color:#000;
    }


@media (min-width:768px) {
    

    .custom-cart { 
        top:40px;
        right:100px;
    }

    .custom-cart {
    color: #fff;
    position: absolute;
    text-align: right;
    width: auto;
}

    .custom-cart a, .custom-cart a:visited {
        color:#fff;
        }

}

.custom-cart ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.custom-cart li {
    display:inline-block;
}

.custom-cart li::before {
    content: "|";
    padding: 0 5px 0 2px;
}

.custom-cart li:first-child::before {
    content:none;
}



.custom-cart a:hover {
   color:#dd0031;
    text-decoration:none;
}



/* MAIN NAV */

.navbar {
    border: 0 solid transparent;
    border-radius: 0;
    display: block;
    margin-left: 0;
    min-height: inherit;
    position: relative;
    text-align: center;
}

.navbar-nav {
    display: block;
    float:none;
    -webkit-transition: .5s;
    transition: .5s;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    position: relative;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.navbar-nav > li > a {
    color: #000;
    display: block;
    font-size: 17px;
    padding: 0.75em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #555;
}

/* active nav items */
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #555;
}

/*for hover effect to stay on top level item during hover over dropdown*/
.navbar-nav > li.dropdown:hover > a {
    background-color: transparent;
    color: #555;
}

.caret {
    display: none;
}

.dropdown-menu {
    background-color: #aaa;
    border: 0 none;
    border-radius: 0;
    box-shadow: 0 0;
    min-width: 160px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

.dropdown-menu > li {

}

.dropdown-menu > li > a {
    color: #000;
    line-height: 1em;
    padding: 0.5em 1.5em;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    color: #555;
    text-decoration: none;
}

/*active dropdown menu items */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #555;
    text-decoration: none;
}

/* third level dropdowns */
ul.navbar-nav ul ul, ul.navbar-nav ul ul ul, ul.navbar-nav li:hover ul ul, ul.navbar-nav li:hover ul ul ul {
    left: 100%;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

/* hide third level dropdowns */
ul.nav.navbar-nav li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu {
    /*display: none;
    visibility: hidden;*/
}

/* displays dropdown menus */
ul.navbar-nav li:hover ul, ul.navbar-nav li li:hover ul, ul.navbar-nav li ul ul li:hover ul{
    display: block;
    visibility: visible;
    opacity: 1;
}



/* MOBILE NAV */

/* hamburger */
.mobile-nav-toggle-label {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    background: rgba(48, 42, 49, 0.85) none repeat scroll 0% 0%;
    opacity: 0.85;
    cursor: pointer;
    height: 22px;
    margin: 0;
    position: absolute;
    top:2em;
    right:2em;
    padding: 10px;
    width: 46px;
    height: 46px;
    z-index: 1003;
}

@media (max-width:768px) { 
    .mobile-nav-toggle-label {
        background:transparent;
        top:3px;
        right:0px;
    }
}

.active .mobile-nav-toggle-label, .fixed .mobile-nav-toggle-label  {
    background:transparent;
}

.mobile-nav-toggle-label .top-bar, .mobile-nav-toggle-label .middle-bar, .mobile-nav-toggle-label .bottom-bar {
    background-color: #fff;
    height: 3px;
    position: absolute;
    right: 10px;
    top: 13px;
    transform-origin: 50% 50% 0;
    transition: transform 0.3s ease-in-out 0s, top 0.3s ease-in-out 0.3s;
    width: 26px;
}

.active .mobile-nav-toggle-label .top-bar {
    background-color: #fff;
    top: 22px;
    transform: rotate(45deg);
    transition: top 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0.3s;
}

.mobile-nav-toggle-label .middle-bar {
    top: 22px;
    transition: opacity 0s linear 0.3s;
}

.active .mobile-nav-toggle-label .middle-bar {
    opacity: 0;

}

.mobile-nav-toggle-label .bottom-bar {
    top: 31px;
}

.active .mobile-nav-toggle-label .bottom-bar {
    background-color: #fff;
    top: 22px;
    transform: rotate(-45deg);
    transition: top 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0.3s;
}

/* mobile menu */
.menu-small .navbar {
    background-color: rgba(48, 42, 49, 0.85);
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    position: absolute;
    text-align: right; 
    z-index: 1001;
    padding:0;
    transition: transform 300ms ease 0s, opacity 300ms ease 0s;
    pointer-events: none; 
    opacity: 0;
    transform: translateY(-20%);

}


.active .menu-small .navbar {
    pointer-events: inherit;
   display: block;
   visibility: visible;
    opacity: 1;
    transition: transform 300ms ease 0s, opacity 300ms ease 0s;
    transform: translateY(0%);

}


.menu-small .navmenu {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:1em;
}

@media (min-width:768px) {

     .menu-small .navmenu {
        right:2.5em;

    }

}


.menu-small .nav > li {
    margin: 0.5em 0px;
    padding: 0px;
    display: block;
    position: relative;
    width: auto;

}

.menu-small .nav > li > a {
    display: block;
    position: relative;
    font-size: 1.5em;
    text-align: right;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    margin-left:15px;
    padding: 0.5em 0px;
}

.menu-small .nav > li.active > a {
    color: rgb(221, 0, 49);
}

.menu-small .nav > li > a > i {

}

.menu-small .nav > li > a:hover {
    background-color: transparent;

}

.menu-small .nav > li > ul > li > a  {
    font-size: 1em;
}

.menu-small .nav > li > ul > li  > ul > li > a{
    text-transform: none;
}

.menu-small .nav .menu-sub  {
    display: none;
}

.menu-small .nav .show-submenu {
    display: block;
}


@media (max-width:768px) { 
    .menu-small .nav > li {
        margin:0;
    }

    .menu-small .nav > li > a {
        font-size: 1.25em;
        padding: 0.45em 0px;
    }
}

.open-submenu {
    cursor: pointer;
    position: absolute;
    color:#fff;
    top:10px;
}

.open-submenu {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;*/
}

.visible-xs .cart {
    color:#000;
    height: 30px;
    position: absolute;
    z-index: 100;
    right: 20px;
    top: 15px;
    width: 30px;
}

/* SUBNAV */

ul.subnav {
    list-style: outside none none;
    margin-top: 10px;
    padding: 0;
}

ul.subnav li.page-title {
    font-size: 17px;
    text-transform: uppercase;
}

ul.subnav li {
    margin-bottom: 5px;
}

ul.subnav li.level-3 {
    padding-left: 10px;
}

ul.subnav li.level-4, ul.subnav li.level-5 {
    display: none;
}



/* FOOTER */

footer {
    width: 100%;
    height:auto;
    position: relative;
    margin: 0px;
    text-align: center;

	background-color:#333333;
}

footer p {
    margin:0;
}

footer a, footer a:active, footer a:focus {
    color: rgb(255, 255, 255);
}

@media (min-width:768px) {

    footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    position:relative;
    text-align: left;
	background-color:#333333;
    

    }
}

.footer-inner {
    padding: 3.0em 0 ;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    position:relative;
    
}


@media (min-width:768px) {
    .footer-inner {
        flex-direction: column;
    }
}

.footer-logo {
  display: block;
  width:100%;
}

.footer-logo svg {
    width: auto;
    display: block;
    transition: height 300ms ease 0s;
    margin: 0px auto 3em;
    height:60px;
}


@media (min-width:768px) {
    .footer-logo svg {
        height:140px;
    }

}


.info-row {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    flex-flow: column wrap;
    flex-direction: column;
    position: relative;
}

@media (min-width:768px) {
    .info-row {
        flex-direction: row;
    }

}

.column  {
    padding: 0px 2em 2em;
    flex-basis: auto;
}

@media (min-width:768px) {

    .column  {
    padding: 0px 2.5em;
    text-align: left;
    max-width: 40%;
    }


}


footer h3, footer p {
    color: rgb(255, 255, 255);
}

.social-row {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    align-items: center;
    -moz-box-align: center;
}

.social-icon {
    width: 1.25em;
    height: 1.25em;
    margin: 0px 0.75em;
    display: block;
    fill: rgb(255, 255, 255);

}

.social-icon span {
    display: flex;
    align-items: center;
    -moz-box-align: center;
    height: 100%;
    width: 100%;
}

.social-icon svg {
    display: inline-block;
    margin: auto;
    width: auto;
    height: 100%;
    transition: fill 300ms ease 0s, stroke 300ms ease 0s;
}

.social-icon:hover svg {
    fill: rgb(102, 0, 0);
}

.social-icon svg rect, .social-icon svg circle {
    transition: fill 300ms ease 0s, stroke 300ms ease 0s;
}

.social-icon:hover .icon-instagram svg g rect, .social-icon:hover .icon-instagram svg g circle {
    stroke: rgb(102, 0, 0);
}

.social-icon:hover .icon-instagram svg > circle {
    fill: rgb(102, 0, 0);
}


.shading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index:-1;
    background-image: linear-gradient(to top, rgb(48, 42, 49) 0%, rgba(48, 42, 49, 0.01) 100%);
}


.footer-image {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: opacity 0.5s ease 0s;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -2;

}


.site-info {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    color: rgb(153, 153, 153, 0.5);
    text-transform: uppercase;
    padding:3px 16px 8px ;
    background-color:  rgba(48, 42, 49, 1);

    
}

@media (min-width:768px) {
     .site-info {
        text-align: right;

     }
    }

.site-info a, .site-info a:visited {
   color: rgb(153, 153, 153, 0.5);
}

.site-info a:hover {
   color: rgb(153, 153, 153, 1);
}

a.vinsuite {
    
}



/*

footer .nav {
    margin: 20px 0 10px;
}

footer .nav li {
    color: #000;
    display: inline-block;
    float: none;
    padding: 10px 0;
}

footer .nav li::before {
    content: "|";
    float:left;
}

footer .nav li:first-child::before {
    content:none;
}

footer .nav li a {
    color:#000;
    display: block;
    padding: 0 5px 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

footer .nav li:first-child a {
    padding-left: 5px;
}

footer .nav > li > a:hover, footer .nav > li > a:focus, footer .social > a:focus, footer .social > a:hover, a.vinsuite:hover {
    background-color: transparent;
    color: #555;
    text-decoration: none;
}*/

/* BUTTONS */

.btn {
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    border:2px solid transparent;
    border-radius:0px;
    text-transform: uppercase;
  
    transition: all .3s ease-in-out
}

.btn.focus,.btn:focus,.btn:hover {
    color:#333;
    text-decoration:none;
}

.btn.active,.btn:active {
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-default {
    color:#0f0105;
    background-color:#fff;
    border-color:#4f4a50;
	float:right;


}

.btn-default.active,.btn-default.focus,.btn-default:active,.btn-default:focus,.btn-default:hover,.open>.dropdown-toggle.btn-default {
    color:#fff;
    background-color:rgba(48, 42, 49, 0.85);
    border-color:#4f4a50;
}

.btn-primary {
    color:#0f0105;
    background-color:#fff;
   /* border-color:#4f4a50;*/
   float:right;
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
    color:#fff;
    background-color:rgba(48, 42, 49, 0.85);
    border-color:#4f4a50;
}

.btn-group-sm>.btn,.btn-sm {
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:0px;
	
}

.btn-block {
    width:auto;
}

.btn-club {
    margin: 0 auto 5px;
}

@media (max-width: 479px) {
    .btn-club {
        font-size: 10px;
        padding: 6px 10px;
    }
}


/* STORE CATEGORY */

.category-content {
    margin: 0 auto;
}

.category-dropdown {
    margin: 15px 0;
    text-align: left;
}

.state-dropdown select {
    margin: 5px 0;
    width: auto;
}

.state-dropdown span, .state-dropdown {
    display: inline-block;
}

.state-dropdown .willCall {

}

.state-dropdown select option[value="MU"] {
    display: none;
}

.pagination {
    margin: 20px 0;
}

.store-pagination.pagination-bottom {
    float: right;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color:  #aaa;
    border-color: #aaa;
    color: #000;
}

.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #555;
    position: relative;
    text-decoration: none;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #000;
}

.product-list {

}

.product {
    margin-bottom:35px;
    position: relative;
}



.product-list .product-image {
    min-height: 200px;
}

.product-list .product-image img {
    max-height: 400px;
    width: auto;
}



.product-list .title {

}

.product-list .title a {

}



.product-list .desktop-title {
     min-height: 68px;
     position: relative;
     margin-top:20px;
     margin-bottom:20px;
     padding-bottom: 15px;

}



.product-list .desktop-title a {

}

.product-list .desktop-title h3 {
    margin:0;
    text-align: center;
    line-height: 1.1em;

}

.product-list .mobile-title { /* outside .product-info */

}

.product-list .mobile-title a {

}

.product-list .mobile-title h3 {
    /*text-align: center;*/

}

.product-list .product-info .info {

}

@media (max-width: 767px) {
   .product-list .product-info {
    display: none;
   } 
}


@media (min-width: 1199px) {

    .product-list .FirstPartyWine {
        width:25%;
    }

    .visible-lg-block {
        display: none!important;
    }
}


/*DESKTOP ONLY ROLLOVER*/

@media (min-width: 768px) {

    .product-list .product-info .teaser {
        display: none;
    }


    .product:hover .product-info {
        display: block;
        visibility: visible;
        opacity: 1;

    }

    .product-list .product-info {
        visibility:hidden;
        opacity:0;
        transition: all 0.5s ease 0s;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
             -o-transition: all .5s ease;
        background-color: rgba(255,255,255,.7);
        position: absolute;
        height:100%;
        left:0;
        right:0;
        top:0;
        padding-top:20%;

       
    }


    .product-list .title a:hover h3 {
        text-decoration: none;
        color:#600;
    }

    .product:hover .desktop-title h3 {
        position: relative;
        z-index: 100;
        color:#000;
    }


    .product .add-to-cart  {
        display: none;
    }

    .product .quantity {
        display: none;
    }

    .product .price-units {
        color:#000;
    }

    .product .purchase-form {
        margin:0;
        display: none;
    }

}

.product-list .teaser {
    display: none;
}

/* STORE CATEGORY/DRILLDOWN SHARED */

.teaser {

}

/* nav pills */
ul.nav-pills { /* hides nav pills for wines, which displays bottle size as a nav-tab */
    display:none;
}

.producttype-product ul.nav-pills, .drill-container.product ul.nav-pills { /* displays nav pills for non-wine product for multi-SKUs */
    display:block;
}

.nav-pills > li > a {
    padding: 0.5em 1em 0.7em;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #242424;
    border-radius: 0;
    color: #fff;
}

.nav-pills > li > a:focus, .nav-pills > li > a:hover {
    background-color: transparent;
    color:#000;
    text-decoration: none;
}

.tab-content {
    margin-top:15px;
    width:100%;
}

.purchase-form {
    /*text-align: center;*/
    margin-bottom: 15px;
}

.quantity {
    margin-right: 5px;
    min-width: 36px;
    display: inline-block;
}

.quantity input {
    text-align: center;
    padding: 6px 4px;
    width: 36px;
}

.price-units {
    display: inline-block;
    font-size: 1em;
    padding-top: 5px;
    width: auto;
    vertical-align: top;
}

.price {
    display: inline-block;
    font-size: 1.2em;
    padding: 0;
    width: auto;
    font-weight: 700;
}

.unit {
    display: inline-flex;
    text-transform: capitalize;
    width: auto;
}

.unit select { /* for non-wine products using options */
    margin-left: 5px;
    margin-top: -8px;
}

.add-to-cart {
    clear:both;
    display: block;
    padding:10px 0 15px;
}

.min-order, .max-order {
    clear:both;
    display:block;
}



/* STORE DRILLDOWN */

.drill-container {
    padding-top: 15px;
}

.product-detail .product-image {

}

.product-detail .product-image img {
        max-height: 600px;
        margin:auto;
    }

@media (max-width: 767px) {

   .product-detail .product-image img {
        max-height: 400px;
        float:none;
        margin:auto;
    }
}


.product-detail .purchase-form {
    width:auto;
    text-align: left;
    display: inline-block;
}

.product-detail .product-info {

}

.product-detail h2.product-title {
    
}

.product-detail .mobile-title {
    /*text-align: center;*/
    background-position: top center;
    margin:0;
}

.product-detail .teaser {
    padding: 10px 0;
}

@media (min-width: 991px) {

.product-detail .tab-content form[data-type="purchase"]:first-child {
    margin-right: 20px;
}

.product-detail .tab-content form[data-type="purchase"] {
    float:left;
    width:auto;
}

}

.product-detail h4 { /* detail titles */
    font-weight: bold;
}

table.productDetails { /* wine profile table */
    margin: 5px 0 25px 0;
    width:auto;
    font-size:0.9em;
}

table.productDetails td {
    padding: 5px 0 5px 0!important;
    width:auto;
}

table.productDetails td.DownloadWineNotes {
    padding: 0 0 10px;
}

table.productDetails td.wineNotesRight table td.wineNotesRight {
    padding: 0 5px 0 0;
}

.DownloadWineNotes, .wineNotesLeft {
    font-weight: bold;
    text-align: left;
}

table.productDetails td.wineNotesLeft {
    padding-right:10px!important;
    vertical-align: middle!important;
}

.wineNotesLeft::after {
    content: ":";
}

.DownloadWineNotes, .wineNotesRight {
    text-align: left;
}


@media (max-width: 991px) {
    .product-detail, .product-detail .purchase-form {
        /*text-align: center;*/
    }

    table.productDetails {
      
    }

}

.return-link {
    padding:15px 0;
    text-align: center;
    clear:both;
    display: block;
}

/* POPUP */

#circleG {
    height: 38px;
    margin: 20px auto 10px;
    width: 149.333px;
}

.circleG{
    background-color:#000;
    float:left;
    height:32px;
    margin-left:17px;
    width:32px;
    -moz-animation-name:bounce_circleG;
    -moz-animation-duration:0.75s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-border-radius:21px;
    -webkit-animation-name:bounce_circleG;
    -webkit-animation-duration:0.75s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-border-radius:21px;
    -ms-animation-name:bounce_circleG;
    -ms-animation-duration:0.75s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-border-radius:21px;
    -o-animation-name:bounce_circleG;
    -o-animation-duration:0.75s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-border-radius:21px;
    animation-name:bounce_circleG;
    animation-duration:0.75s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    border-radius:21px;
}

#circleG_1{
    -moz-animation-delay:0.15s;
    -webkit-animation-delay:0.15s;
    -ms-animation-delay:0.15s;
    -o-animation-delay:0.15s;
    animation-delay:0.15s;
}

#circleG_2{
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#circleG_3{
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

@-moz-keyframes bounce_circleG {
    0% {} 50% {
        background-color: #aaa;
    }
    100% {}
}
@-webkit-keyframes bounce_circleG {
    0% {} 50% {
        background-color: #aaa;
    }
    100% {}
}
@-ms-keyframes bounce_circleG {
    0% {} 50% {
        background-color: #aaa;
    }
    100% {}
}
@-o-keyframes bounce_circleG {
    0% {} 50% {
        background-color: #aaa;
    }
    100% {}
}
@keyframes bounce_circleG {
    0% {} 50% {
        background-color: #aaa;
    }
    100% {}
}

.modal-body #errorBoxWrapper {
    height: auto !important;
}

.modal-body #errorBox.error {
    height: auto !important;
}

.modal-body .cart-title h4 {
    font-size: 1em;
    line-height: 1.42857;
    margin: 0;
}

.modal-body .subtotal-row td {
   
}

.strikethru {
    text-decoration:line-through;
}



.modal-footer .btn + .btn {
    margin: 10px 0;
}



/* CART */

.storecart .layoutcontent p {
    padding: 10px 0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: transparent;
}

.table > thead > tr > th {
    border-width: 1px;
}

.thead-total, .thead-price  {
    text-align: right;
}

.cart-image.hidden-xs {
    float: left;
    padding: 0 15px;
    width: auto;
}

.cart-image .image {
    max-width: 100px;
}

.storecart .cart-qty input {
    display: inline-block;
    padding: 0;
    text-align: center;
    width:35px;
}

.cart-price, .cart-total {
    text-align: right;
}

.subtotal-row td, .shipping-row td, .salestax-row td, .salestax-row td, .total-row td{
    text-align: right;
}

.special-offers {
    padding-bottom: 40px;
}

.special-offers .special-offers {
    padding-bottom: 0;
}

#divCoupon input, #divCoupon .btn {
    display: inline-block;
}

#shippingOptionsForm #divShipping select {
    width: auto;
}

#divFutureShipDate label {
    padding: 2px;
}

.checkout-row {
    text-align: right;
}

/* mobile cart - non-rco */

.mobile-summary.visible-xs div {
    padding-left: 0;
}

.mobile-summary .cart-title {
    font-size: 1.2em;
    padding: 1em 0;
}

.mobile-summary .cart-image {
    text-align: center;
}

.mobile-summary .cart-image > img {
    max-width: 80px;
}

.mobile-summary .cart-prices {
    /*display: inline-block;*/ /*emove for RCO */
    font-weight: bold;
    padding-top: 4px;
}

.cart-quantity {
    /*display: inline-block;*/ /*emove for RCO */
    padding-right:10px;
    vertical-align: top;
}

.cart-quantity input {
    padding: 0;
    text-align: center;
    width: 35px;
}

.cart-buttons {
    padding:5px 0;
    display: block;
}

.cart-buttons .btn {
    margin-bottom: 5px;
    width: 150px;
}

.mobile-summary .cart-totals {
    padding: 20px 0;
}

.cart-subtotal, .cart-shipping, .cart-taxes {
    padding: 3px 0;
    text-align: right;
}

.mobile-summary .cart-total {
    font-size: 1.2em;
    padding: 3px 0;
}

.mobile-summary .cart-total > strong::after {
    content: " ";
}



/* CHECKOUT - NON-RCO */
/*
#divLogin {
    max-width: 400px;
    padding-bottom: 20px;
}

#divLogin .forgot-link {
    padding: 10px 0 0;
}

#giftCertificateForm {
    display:none;
}

.showPaymentInformation th, .showPaymentInformation td{
    padding: 8px 0;
}

.cartpaymenttypetabs {
    padding: 30px;
}

.showPaymentInformation h3 {
    padding-top: 20px;
}

.cartpaymenttypetabs {
    background: transparent none repeat scroll 0 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-top: 0;
    max-width: 100%;
    padding-bottom: 0;
    padding-top: 0;
}

.cartpaymenttypetabs .clearfix.container-fluid {
    padding: 15px 0;
}

.cartpaymenttypetabs .clearfix.container-fluid .container-fluid {
    padding: 0;
}

.showPaymentInformation .currentVintage {
    display: none;
}

#whatsThis > a {
    display: none;
}

.showConfirm .page-content {
    padding-bottom: 20px;
}
*/



/* CLUBS */

.well {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0px solid #E3E3E3;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
}

.clubs .control-label.col-sm-1 {
    text-align: left;
}

.club-rate.list-group-item {
    border: medium none;
    padding: 0;
}

.clubs .list-group-item {
    background-color: transparent;
}

.member-login, .club-information, .gift-message, .personal-information, .user-pass, .payment-info {
    padding: 20px 0 0;
}

.clubs #divLogin {
    max-width: 400px;
}

.clubs .club-information select {
    width: auto;
}



/* PODS */

.pods {
    margin: 35px auto;
    max-width: 1080px;
}

.pods .panel-default > .panel-heading {
    background-color: #aaa;
    border: 0 none;
    border-radius: 0;
    padding: 1em;
}

.pods .panel-title {
    text-align: center;
}

.pods .panel {
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.pods .panel-body {
    padding: 15px;
}



/* FORMS, ETC */

.form-control {
    border-radius: 0;
    height:36px;

  border:2px solid #4f4a50;
 
  margin-left:2px;
 
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* emoves quantity arrows from field */
}

#sourceCodeForm {
    display: none;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
}

.members .page-content {
    margin-bottom: 20px;
}

.recaptchatable {
    background-color: white;
}

.layClear {
    clear:both;
}

.tdLabel {
    font-weight: bold;
    padding: 12px 10px;
}

#locator_key {
    display: none;
}

.plocations.showpage .icons {
    display: none;
}





/* xs only */
@media (max-width: 767px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }

    select[name="BirthMonth"], select[name="BirthDay"], select[name="BillBirthMonth"],
    select[name="BillBirthDay"], select[name="ShipBirthMonth"], select[name="ShipBirthDay"],
    select[name="cardexpirymo"] {
        margin-bottom: 10px;
    }

    .header-logo a {
       max-width: 70%;
    }

    #shippingForm {
        padding-top: 20px;
    }

    .product-image .img-responsive, .product-detail .product-image img {
        max-height: 300px;
        width: auto;
    }

    .product-list .info {
        padding-top: 20px;
    }

    /*.storecart .special-offers, .storecart .shipping-options {
        padding-left: 0;
    }

    .checkout-row {
        padding-left: 0;
        text-align: left;
    }*/

    .showPaymentInformation h5 {
        margin-top: 10px;
    }

    .showPaymentInformation table {
        font-size: 12px;
    }

    .showPaymentInformation th, .showPaymentInformation td {
        padding: 0;
    }

    .product-list .producttype-product ul.nav-pills {
        margin: 10px auto;
    }
}

/* sm only */
@media (min-width: 768px) and (max-width: 991px) {
    .product-list .producttype-product ul.nav-pills {
        margin: 10px auto;
    }
}

/* md only */
@media (min-width: 992px) and (max-width: 1199px) {



}

/* lg only */
@media (min-width: 1200px) {



}


@media print {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666666666%;
    }
    .col-md-10 {
        width: 83.33333333333334%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-7 {
        width: 58.333333333333336%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666666667%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.666666666666664%;
    }
    .col-md-1 {
        width: 8.333333333333332%;
    }

    a[href]:after {
        content: none;
    }
}


/*shipping states width fix*/
select[name="ShippingStates"] {
    width:auto;
}

/*datepicker won't show without*/
.datepicker.dropdown-menu {
    visibility: visible;
    opacity: 1;
    margin:inherit;
}

/*password meter fix*/
.password-meter {
    float: none !important;
    padding-top: 10px;
    width: 200px !important;
}

/* for CCV to show */
#whatsThisDetail {
    top:-50px!important;
    left:200px!important;
    z-index:500;
}


/* maintains mobile layout on ipads*/
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)  {
        .visible-xs {
        display: block !important;
        }
        .hidden-xs {
        display: none !important;
        }
}

/*image not found graphic size contstraints*/
.product-list .product-image .not-found {
    max-height: 100px;
    width: auto;
}

.product-detail .product-image .not-found {
    max-height: 150px;
}

/*additional class for an upcoming RCO update*/
.mb-2 {
  margin-bottom: 2em;
}


.modal-content {
    border-radius: 0;
}

.modal-header, .modal-footer {
    border:none;
}


.table > thead > tr > th {
    border-color:#4f4a50;
}

.description, .tastingnotes, .ratings, .product-detail .teaser {
    padding-bottom:25px;
}

.tastingnotes {
    display: none;
}


#billingForm, #shippingForm {
    width:100%;
}


.preferences .form-control {
    width:auto;
}


@media (min-width:768px) { 
    .info-column {
        padding-right:35px;
    }
}