{extend name="Public:base" /}
{block name="main"}  
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
			
			
	
			<div class="card-box">

			
			
			
			
			<div class="am-g">
			
			
			
						<!-- Row start -->
						<div class="am-u-md-6">
							<div class="card-box widget-user" style="height: 300px;">
                               
                                	 <h4 class="m-t-0 m-b-5 font-600">实时销售概况（更新:18-10-16 18:54）</h4>
									 
									 		 <table style="width:520px; font-size: 13px;">
                             	  
                             <tr style="border-bottom: 1px solid #f3f3f3; font-weight: 600;height: 30px;" >
                             	<td>日期</td>
								<td>销售额</td>
								<td>订单量</td>
							   <td>销量</td>
                             </tr>
                           
              					<tr style="border-bottom: 1px solid #f3f3f3">
								<td>今日</td>
                             	<td>$2,712</td>
								<td>577</td>
								<td>46</td>
								
                             </tr>
							 
							 	<tr style="border-bottom: 1px solid #f3f3f3">
								<td>昨日</td>
                             	<td>$2,12</td>
								<td>57</td>
								<td>456</td>
								
                             </tr>
                         </table>
									 
                               <div id="index-line-11" style="height: 200px;"></div>

                                
                            </div>
						</div>
						<!-- col end -->
			
			
			
			
			
					<!-- Row start -->
						<div class="am-u-md-4">
							<div class="card-box widget-user" style="height: 300px;">
                                <div>
                                	 <h4 class="m-t-0 m-b-5 font-600">销售额表现(最近7天)</h4>
							 <table style="width:420px; font-size: 13px;">
                             	  
                             <tr style="border-bottom: 1px solid #f3f3f3; font-weight: 600;height: 30px;" >
                             	<td>销售额</td>
	                             <td>订单量</td>
								<td>销量</td>
								 <td>退货数</td>
								<td>退货金额</td>
								<td>退货率</td>
								<td>平均价</td>
                             </tr>
                           
              					<tr style="border-bottom: 1px solid #f3f3f3">
                             	<td>$2,712</td>
								<td>577</td>
								<td>46</td>
								<td>43</td>
								<td>40</td>
								<td>40%</td>
								<td>$19</td>
                             </tr>
                         </table>
                               <div id="index-bar-11" style="height: 180px; "></div>

                                
                                </div>
                            </div>
						</div>
						<!-- col end -->
			
						<!-- col end -->
			
						<!-- col end -->
						<div class="am-u-md-2">
							<div class="card-box widget-user" style="height: 300px;">
                                <div>

  <h4 class="m-t-0 m-b-5 font-600" style="color:red;">重要提醒</h4>
     <div>买家信息</div>

                                       <div class="text-muted  m-b-5 font-10" style=""> 你有<a href="" style="color:red;" class="font-600">3</a>条买家信息，请注意。</div>

                                  <div> 库存提醒</div>

                                       <div class="text-muted  m-b-5 font-10" style=""> 暂无提醒</div>

  <div> 跟卖提醒</div>

  <div class="text-muted  m-b-5 font-10">你有<a href="" style="color:red;" class="font-600">3</a>个商品被跟卖，请注意。</div>

 <div> 评论提醒</div>
 <div class="text-muted  m-b-5 font-10">你有<a href="" style="color:red;" class="font-600">13</a>个商品差评，请注意。</div>
 <div> 退货提醒</div>
<div class="text-muted  m-b-5 font-10">你有<a href="" style="color:red;"class="font-600">3</a>个商品退货，请注意。</div>



                                </div>
                            </div>
						</div>
					</div>
					<div class="am-g">
						
						<!-- col start -->
						<div class="am-u-md-6">
							<div class="card-box" style="height: 483px;">
								<h4 class="m-t-0 m-b-30">今日广告（更新:18-10-16 18:54） <a href="" style="font-size: 10px;">更多></a></h4> 
								<div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                        <table class="am-table   am-text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>广告活动</th>
                                                <th>曝光量</th>
                                                <th>点击次数</th>
                                                <th>花费($)</th>
                                                <th>订单</th>
                                                <th>广告销售额($)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">campaign1</a></td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
                                              
     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>

                                                     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
												
												
												     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
												
												
												     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
												
												
												     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
												
												     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
												
												     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
												
												     <tr>
                                                    <td>campaign1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE">4927</a></td>
                                                    <td>72</td>
                                                    <td>18.55</td>
                                                    <td>1</td>
                                                    <td>18.55</td>
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>
							</div>
						</div>
						<!-- col end -->
						
						
						
						
						
						
						
						<!-- col start -->
					



<div class="am-u-md-6">
						<div class="card-box">
							<h4 class="m-t-0" style="padding-bottom: 15px;">广告业绩（更新:18-10-16 18:54）<a href="" style="font-size: 10px;">更多></a></h4>
                             <table style="width: 450px; font-size: 13px;">
                             	  
                             <tr style="border-bottom: 1px solid #f3f3f3; font-weight: 600;height: 30px;" >
                             	<td>花 费</td>
	                             <td>广告销售额</td>
								<td>ACoS</td>
								<td>广告订单</td>
                             </tr>
                           
              					<tr style="border-bottom: 1px solid #f3f3f3">
                             	<td>$2,753.12</td>
								<td>$5,095.77</td>
								<td>54.03%</td>
								<td>199</td>
                             </tr>
                         </table>
							
							<div id="index-line-1" style="height: 345px;"></div>
						</div>
					</div>

						
					</div>


		<div class="am-g">
					<!-- Row start -->
						<div class="am-u-sm-3">
							<div class="card-box">
								<h4 class="m-t-0 m-b-30">自动索评(更新:18-10-16 18:54) <a href="" style="font-size: 10px;">更多></a></h4> 
								<!-- col start -->
										
				     <table style="width: 320px; font-size: 13px;">
                             	  
                             <tr style="border-bottom: 1px solid #f3f3f3; font-weight: 600;height: 30px;" >
                             	<td>发送总数</td>
	                             <td>开启邮件</td>
								<td>开启率</td>
								
                             </tr>
                           
              					<tr style="border-bottom: 1px solid #f3f3f3">
                             	<td>753</td>
								<td>95</td>
								<td>4%</td>
							
                             </tr>
                         </table>
							<div id="index-bar-1" style="height: 271px;"></div>
					
								<!-- col end -->
							</div>
						</div>
						
						<div class="am-u-sm-3">
							<div class="card-box">
								<h4 class="m-t-0 m-b-30">评论反馈统计(更新:18-10-16 18:54) <a href="" style="font-size: 10px;">更多></a></h4> 

	     <table style="width: 320px; font-size: 13px;">
                             	  
                             <tr style="border-bottom: 1px solid #f3f3f3; font-weight: 600;height: 30px;" >
                             	<td>评论数</td>
	                             <td>好评数</td>
								<td>Feedback数</td>
								<td>好评Feedback</td>
                             </tr>
                           
              					<tr style="border-bottom: 1px solid #f3f3f3">
                             	<td><a href="#">753</a></td>
								<td><a href="#">95</a></td>
								<td><a href="#">4</a></td>
							     <td><a href="#">95</a></td>
                             </tr>
                         </table>

								<!-- col start -->
							<div  id="Stack" style="width: 100%;height: 270px; padding-top: 38px;"></div>
								<!-- col end -->
							</div>
						</div>
					<!-- Row end -->
					
					
					
					
					
					<div class="am-u-sm-6">
							<div class="card-box"  style="height: 412px;" >
								<h4 class="m-t-0 m-b-30">评论提醒(更新:18-10-16 18:54) <a href="" style="font-size: 10px;">更多></a></h4> 
<div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                        <table class="am-table   am-text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>评分</th>
                                                <th>日期</th>
                                                <th>商品信息</th>
                                           
                                           
                                              
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2 星</td>
                                                    <td>2018-10-19</td>
                                                    <td>
													<div style="font-size:12px;"><a href="https://www.amazon.com/dp/B003DSHDEC" target="_blank" >
													<img src="https://images-na.ssl-images-amazon.com/images/I/514jlnNgBYL._SS75_.jpg" height="30px" width="30px"></a> 
												
									SKU：AA-669 <a href="">子ASIN：B003DSHDEC</a>
													</div>
													
													
													</td>
                                            
                                            
                                                </tr>
                                              
                                                     <tr>
                                                    <td>1 星</td>
                                                    <td>2018-10-19</td>
                                                    <td>
													<div style="font-size:12px;"><a href="https://www.amazon.com/dp/B003DSHDEC" target="_blank" >
													<img src="https://images-na.ssl-images-amazon.com/images/I/514jlnNgBYL._SS75_.jpg"  height="30px" width="30px" ></a> 
												
										SKU：AA-669 子ASIN：B003DSHDEC
													</div>
													
													
													</td>
                                            
                                            
                                                </tr>
                                         

                                   
                                                     <tr>
                                                    <td>1 星</td>
                                                    <td>2018-10-19</td>
                                                    <td>
													<div style="font-size:12px;"><a href="https://www.amazon.com/dp/B003DSHDEC" target="_blank" >
													<img src="https://images-na.ssl-images-amazon.com/images/I/514jlnNgBYL._SS75_.jpg"  height="30px" width="30px" ></a> 
												
										SKU：AA-669 子ASIN：B003DSHDEC
													</div>
													
													
													</td>
                                            
                                            
                                                </tr>
												
												
												
												
                                                     <tr>
                                                    <td>1 星</td>
                                                    <td>2018-10-19</td>
                                                    <td>
													<div style="font-size:12px;"><a href="https://www.amazon.com/dp/B003DSHDEC" target="_blank" >
													<img src="https://images-na.ssl-images-amazon.com/images/I/514jlnNgBYL._SS75_.jpg"  height="30px" width="30px" ></a> 
												
										SKU：AA-669 子ASIN：B003DSHDEC
													</div>
													
													
													</td>
                                            
                                            
                                                </tr>
												
												
												
                                                     <tr>
                                                    <td>1 星</td>
                                                    <td>2018-10-19</td>
                                                    <td>
													<div style="font-size:12px;"><a href="https://www.amazon.com/dp/B003DSHDEC" target="_blank" >
													<img src="https://images-na.ssl-images-amazon.com/images/I/514jlnNgBYL._SS75_.jpg"  height="30px" width="30px" ></a> 
												
										SKU：AA-669 子ASIN：B003DSHDEC
													</div>
													
													
													</td>
                                            
                                            
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>
								<!-- col end -->
							</div>
						</div>
				</div>
	<div class="am-g">
		<div class="am-u-md-12" >
							<div class="card-box" style="height: 420px;">
								<h4 class="m-t-0 m-b-30">实时商品畅销榜（更新:18-10-16 20:11）<a href="" style="font-size: 10px;">更多></a></h4> 
								<div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                        <table class="am-table  am-text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>名次</th>
                                                <th>图片</th>
                                                <th>商品编码</th>
                                                <th>今日销售额 ($)</th>
                                                <th>今日销量</th>
                                                <th>更新时间</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE"><img src="https://images-na.ssl-images-amazon.com/images/I/51uE7WALWPL._SL1000_.jpg" width="30" height="30"></a></td>
                                                    <td>SKU:AMZ-ORA,子ASIN:B003ASATGE</td>
                                                    <td>3,315</td>
                                                    <td>211</td>
                                                    <td>2018-10-16 01:24</td>
                                                </tr>
                                                       <tr>
                                                    <td>2</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE"><img src="https://images-na.ssl-images-amazon.com/images/I/51uE7WALWPL._SL1000_.jpg" width="30" height="30"></a></td>
                                                    <td>SKU:AMZ-ORA,子ASIN:B003ASATGE</td>
                                                    <td>3,315</td>
                                                    <td>211</td>
                                                    <td>2018-10-16 01:24</td>
                                                </tr>
                                                       <tr>
                                                    <td>3</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE"><img src="https://images-na.ssl-images-amazon.com/images/I/51uE7WALWPL._SL1000_.jpg" width="30" height="30"></a></td>
                                                    <td>SKU:AMZ-ORA,子ASIN:B003ASATGE</td>
                                                    <td>3,315</td>
                                                    <td>211</td>
                                                    <td>2018-10-16 01:24</td>
                                                </tr>
                                                
           <tr>
                                                    <td>4</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE"><img src="https://images-na.ssl-images-amazon.com/images/I/51uE7WALWPL._SL1000_.jpg" width="30" height="30"></a></td>
                                                    <td>SKU:AMZ-ORA,子ASIN:B003ASATGE</td>
                                                    <td>3,315</td>
                                                    <td>211</td>
                                                    <td>2018-10-16 01:24</td>
                                                </tr>
                                                
                                                           <tr>
                                                    <td>5</td>
                                                    <td><a href="https://www.amazon.com/dp/B003ASATGE"><img src="https://images-na.ssl-images-amazon.com/images/I/51uE7WALWPL._SL1000_.jpg" width="30" height="30"></a></td>
                                                    <td>SKU:AMZ-ORA,子ASIN:B003ASATGE</td>
                                                    <td>3,315</td>
                                                    <td>211</td>
                                                    <td>2018-10-16 01:24</td>
                                                </tr>
                                                
                                              
                                            </tbody>
                                        </table>
                                    </div>
							</div>
						</div>




					<!-- Row end -->
				</div>
					来自 <a href="#" target="_blank" title="Adminto">Adminto</a>
</div>
	</div>
		</div>
		<!-- navbar -->
		<a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"><!--<i class="fa fa-bars" aria-hidden="true"></i>--></a>
		<script type="text/javascript" src="__HOME__/assets/js/charts/yy_proChart.js" ></script>
	</body>
</html>
{/block}