{extend  name="Public:base" /}
{block name="main"}  
		<div class="content-page">
			<div class="content">
			<div class="card-box">
			<div class="am-g">
				<div class="am-u-md-6">
					<div class="card-box">
						<h4 class="header-title m-t-0 m-b-30">修改密码</h4>
					<form class="am-form am-form-horizontal" action="{:url('Home/adminpass')}" method="post">
						  <div class="am-form-group">
						    <label for="doc-ipt-pwd-2" class="am-u-sm-3 am-form-label am-text-right am-padding-right-0">新密码</label>
						    <div class="am-u-sm-9">
						      <input type="password" id="doc-ipt-pwd-2" name="passwd" placeholder="设置一个新密码吧">
						    </div>
						  </div>
						<input type="hidden" name="aid" value="{$aid}">
						  <div class="am-form-group">
						    <label for="doc-ipt-pwd-3" class="am-u-sm-3 am-form-label am-text-right am-padding-right-0">确认新密码</label>
						    <div class="am-u-sm-9">
						      <input type="password" id="doc-ipt-pwd-3" name="passwd2" placeholder="输入确认新密码">
						    </div>
						  </div>
				  <div class="check-tips" style="color:red;padding-left: 10px; text-align: center;"></div>
						  <div class="am-form-group">
						    <div class="am-u-sm-10 am-u-sm-offset-3">
						    	 <button type="submit" class="am-btn am-btn-primary">提交</button>
						    </div>
							  </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		      $("form").submit(function(){
		        var self = $(this);
		        $.post(self.attr("action"), self.serialize(), success, "json");
		        return false;

		        function success(data){
		        	console.log(data)
		        	if (data.error){
		        		self.find(".check-tips").text(data.error);
		        	}else if(data.success){
		        		  layer.msg('添加成功!',{icon:1,time:1000});
		        		  window.location.href = "{:url('home/adminlist')}";
		        	}
		        }
		      });
		</script>
{/block}
